body{
    background: url(../img/background/ecailles.png) ;
    background-repeat: repeat;
    background-attachment: fixed;
}

#input-search{
    width: 400px;
    height: 40px;
}

#btn-login{
    clear: left; 
    width: 100%; 
    height: 32px; 
    font-size: 13px;
}

form div input.input-login{
    min-width: 200px;
    width: 100%;
}

#title{
    font-size: 30px;
    font-weight: bold;
}

.main-container{
    width: auto;
    min-height: 500px;
    margin-top: 100px;
}

div.searcher{

    width: 100%;
    display: inline-block;
    text-align: center;
    
    div.img-searcher{
        width: 100%;
        height: 250px;
        // border: 1px solid #000;
        background-image: url(../img/background/carrito.png);
        background-repeat: no-repeat;    
    
        // -webkit-background-size: 45% 80%;
        // -moz-background-size: 45% 80%;
        // -o-background-size: 45% 80%;
        // background-size: 45% 80%;

        background-position: center;
    }
    h2.msg{
        color: @blue;
        // box-shadow: 1px 1px #fafafa;
        // margin-top: 120px;
    }
    input#input-search{
        width: 80%;
        height: 45px;
    }
    // border: 1px solid #00f;

    button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}

div.button-register{
    width: 100%;
    display: inline-block;
    text-align: center;
    
    div.img-store{
        // border: 1px solid #000;
        width: 100%;
        height: 300px;

        background-image: url(../img/background/store-icon.png);
        background-repeat: no-repeat;    
        
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        background-position: center;

    }
}

.row-fluid .span12{
    // border: 1px solid #00f;
}

footer{
    width: 100%;
    height: auto;
    border-top: 1px solid #ccc;
    text-align: center;
    box-shadow: 0px 0px 5px #ccc;
}
