<html>
<head>
    <meta charset='utf-8'>
    <meta name="" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel=author href="humans.txt">
    <link rel="stylesheet" type="text/css" href="<?php echo STATIC_DIR; ?>css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<?php echo STATIC_DIR; ?>css/responsive.css">
</head>
<body>  
    <header class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class='container'>
                <a id='title' class="brand" href="<?php echo BASE_URL; ?>"><?php echo PROJECT_NAME; ?></a>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <nav class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class='active'><a href="<?php echo BASE_URL; ?>register">Registro</a></li>
                        <li><a href="<?php echo BASE_URL; ?>">Inicio</a></li>
                        <li><a href="<?php echo BASE_URL; ?>about_us">Acerca de nosotros</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <div class='main-container'>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Registro exitoso!</h3>
  </div>
  <div class="modal-body">
    <p>Felicidades!, ya haces parte de shopline, ahora te redirigiremos 
        hacia la pagina principal en donde podras loguearte con el email y la contraseña que acabas de registrar. Bienvenido!</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="btn-modal-thanks">Redirigirme a la pagina principal</button>
  </div>
</div>
            <div class"row-fluid">
                <div class="span5 offset3">
                    <form class="register" method="POST" action="#">
                            <div class="register-inputs">
                                <div class="row-fluid" id="alert-error-1" style="display: none;">
                                    <div class="span12 alert alert-error">
                                        <span>Este email ya se encuentra registrado</span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input type="text" name="register_email" id="register_email" placeholder="Correo electronico" required autofocus>
                                    </div>
                                </div>
                                <div class="row-fluid" id="alert-error-2" style="display: none;">
                                    <div class="span12 alert alert-error">
                                        <span>Contraseña muy corta (minimo 8 caracteres)</span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input type="password" name="register_password" id="register_password" placeholder="Contraseña" required>
                                    </div>
                                </div>
                                <div class="row-fluid" id="alert-error-3" style="display: none;">
                                    <div class="span12 alert alert-error">
                                        <span>Las contraseñas no coinciden</span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input type="password" name="register_password2" id="register_password2" placeholder="Repita la contraseña" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid" id="alert-info-1" style="display: none;">
                                    <div class="span12 alert alert-info">
                                        <span>Debe aceptar las politicas de Shopline</span>
                                    </div>
                                </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input type="checkbox" id="checkbox_policy"><a href=""> Acepto las politicas de Shopline </a>
                                </div>
                            </div>

                            <fieldset>
                                <input type="submit" class="btn btn-primary" name="btn-register" id="btn-register" value="Login">
                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <h5><i class="icon-heart"></i> <?php echo PROJECT_NAME; ?> 2013</h5> 
                    <h6><a href="#"><?php echo PROJECT_NAME; ?> es una aplicacion de codigo abierto</a></h6>
                    <h6><i class="icon-github"></i><a href="<?php echo GITHUB_URL; ?>" target="_blank"> Codigo fuente</a></h6>
                </div>
                
                <div class="span4">
                    <h5><i class="icon-wrench"></i> Creado por</h5>
                    <h6><a href="https://twitter.com/pedrojimenezp" target="_blank"> <i class="icon-twitter"></i> @pedrojimenezp </a></h6>
                    <h6><a href="https://twitter.com/JoseRamroj" target="_blank"> <i class="icon-twitter"></i> @JoseRamroj </a></h6>
                </div>

                <div class="span4">
                    <h5><i class="icon-info-sign"></i> Contactanos</h5>
                    <h6><a href="#"><i class="icon-envelope"></i> Email</a></h6>
                    <h6><a href="#"><i class="icon-group"></i> Acerca de nosotros</a></h6>
                </div>
            </div>
        </div>
    </footer>

    <script src="<?php echo STATIC_DIR; ?>js/jquery.js"></script>
    <script src="<?php echo STATIC_DIR; ?>js/bootstrap.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $("#btn-modal-thanks").click(function(e){
                $(location).attr('href','/');
            });
            $('#btn-register').click(function(e){
                var email = $("#register_email").val();
                var pass1 = $("#register_password").val();
                var pass2 = $("#register_password2").val();
                var checked = $("#checkbox_policy").attr("checked");
                if((email != "") && (pass1 != "") && (pass2 != "")){   
                    e.preventDefault();
                    if(pass1.length < 8){
                        $('#alert-error-2').slideToggle(300).delay(1500).slideToggle(300);
                    }else{
                        if(pass1 != pass2){
                            $('#alert-error-3').slideToggle(300).delay(1500).slideToggle(300);
                        }else{
                            if (!checked) {
                                $('#alert-info-1').slideToggle(300).delay(1500).slideToggle(300);
                            }else{
                                $.post("new_record", { 
                                    email: email,
                                    password: pass1
                                }).done(function(data){
                                    // $("#test").html(data);
                                    if(data=="true"){
                                        $('#myModal').modal('show');
                                        // alert("si se puede registrar");
                                        // $('#alert-success-login').slideToggle(300).delay(1500).slideToggle(300);
                                    }else{
                                        if(data=="email_already_registered"){
                                            $('#alert-error-1').slideToggle(300).delay(1500).slideToggle(300);
                                        }
                                    }
                                });               
                            }
                        }
                    }
                }
            });
        });

    </script>
</body>
</html>